@{
    ViewData["Title"] = "Home Page";
}

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Koronavirüs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/virüsCalismalari.png" alt="">
                    <div class="latest-text">
                        <h4>Virüs Çalışmaları</h4>
                        <p>Dünya Sağlık Örgütü verilerine göre Covid-19 için 12 Kasım 2020 tarihi itibarıyla aralarında Türkiye'nin de olduğu onlarca ülkede toplam 212 aşı çalışması devam ediyor.</p>
                        <a href="https://www.bbc.com/turkce/haberler-dunya-53469570">
                            <h4>Detaylı bilgi için tıklayın</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/asilanma.png" alt="">
                    <div class="latest-text">
                        <h4>Aşılanma ile ilgili haberler</h4>
                        <p>Ülkemizde süreç içerisinde birden fazla COVID-19 aşısı türü uygulanabilecek olmakla birlikte şu anda inaktif COVID-19 aşısı (Sinovac) ve mRNA COVID-19 aşısı (Biontech) uygulanmaktadır. </p>
                        <a href="https://covid19asi.saglik.gov.tr/TR-77708/covid-19-asisi-cesitleri.html">
                            <h4>Detaylı bilgi için tıklayın</h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="/lib/bootstrap/dist/img/virüsBelirtileri.png" alt="">
                    <div class="latest-text">
                        <h4>Hastalık belirtileri</h4>
                        <p>Yeni koronavirüs enfeksiyonu belirtileri arasında ateş, öksürük, nefes darlığı ve solunum güçlüğü bulunur. </p>
                        <a href="https://www.acibadem.com.tr/koronavirus/koronavirus-corona-virusu-nedir-belirtileri/">
                            <h4>Detaylı bilgi için tıklayın</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->