@using BM_Medical_Resource
@model List<Product>
@{
    ViewData["Title"] = "Alışveriş Sayfası";
}

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">
                <div class="product-list">
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="/lib/bootstrap/dist/img/products/@product.ImageUrl" alt="">
                                        <ul>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Customer"))
                                            {
                                                <li class="quick-view"><a asp-controller="Shop" asp-action="OrderCreate" asp-route-productId="@product.Id">@Labels.GiveOrder</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <a href="#">
                                            <h5>@product.Ad</h5>
                                        </a>
                                        <div class="product-price">
                                            @product.Fiyat ₺
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->
