@{
    ViewData["Title"] = "Sepet";
}

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cart-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th class="p-name">Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                                <th><i class="ti-close"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cart-pic first-row"><img src="/lib/bootstrap/dist/img/products/dezenfektan1.1.jpg" alt=""></td>
                                <td class="cart-title first-row">
                                    <h5>Dezenfektan</h5>
                                </td>
                                <td class="p-price first-row">60 ₺</td>
                                <td class="qua-col first-row">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="total-price first-row">60 ₺</td>
                                <td class="close-td first-row"><i class="ti-close"></i></td>
                            </tr>
                            <tr>
                                <td class="cart-pic"><img src="/lib/bootstrap/dist/img/products/dezenfektan1.3.jpg" alt=""></td>
                                <td class="cart-title">
                                    <h5>Dezenfektan</h5>
                                </td>
                                <td class="p-price">60 ₺</td>
                                <td class="qua-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="total-price">60 ₺</td>
                                <td class="close-td"><i class="ti-close"></i></td>
                            </tr>
                            <tr>
                                <td class="cart-pic"><img src="/lib/bootstrap/dist/img/products/eldiven1.2.jpg" alt=""></td>
                                <td class="cart-title">
                                    <h5>Eldiven</h5>
                                </td>
                                <td class="p-price">60 ₺</td>
                                <td class="qua-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="total-price">60 ₺</td>
                                <td class="close-td"><i class="ti-close"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="cart-buttons">
                            <a asp-controller="Shop" asp-action="Index" class="primary-btn continue-shop">Alışverişe devam et</a>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-4">
                        <div class="proceed-checkout">
                            <ul>
                                <li class="cart-total">Toplam <span>60 ₺</span></li>
                            </ul>
                            <a asp-controller="CheckOut" asp-action="Index" class="proceed-btn">Alışverişi tamamla</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
